.registerForm form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerForm input{
  height: 2rem;
  margin-bottom: 10px;
}

.registerForm button{
  height: 2rem;
  width: 10rem;
}